{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des remplacements{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3 class="m-3">Liste des remplacements :</h3>
        <div class="m-3">
            <a href="{{ path('app_remplacement_create') }}" class="btn btn-outline-secondary" aria-label="Créer un nouveau remplacement">Créer un nouveau remplacement</a>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <div class="table-container">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Médecin remplacé</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for remplacement in remplacements %}
                        <tr>
                            <td>{{ remplacement.medecin.nom }} {{ remplacement.medecin.prenom }}</td>
                            <td>{{ remplacement.dateDebut | date('d-m-Y H:i') }}</td>
                            <td>{{ remplacement.dateFin | date('d-m-Y H:i') }}</td>
                            <td>
                                <a href="{{ path('app_remplacement_edit', {'id': remplacement.id }) }}" class="btn btn-primary" style="background-color:#2E8486; border-color:#2E8486" aria-label="Modifier le remplacement">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

