{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des remplacements{% endblock %}

{% block body %}
    <h3 class="m-3">Liste des remplacements :</h3>

    <div class="m-5 d-flex justify-content-center">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Médecin remplacé</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for remplacement in remplacements %}
                <tr>
                    <td>{{ remplacement.medecin.nom }}</td>
                    <td>{{ remplacement.beginAt | date('Y-m-d') }}</td>
                    <td>{{ remplacement.endAt | date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('app_remplacement_edit', {'id': remplacement.id }) }}" class="btn btn-primary" style="background-color:#2E8486" aria-label="Modifier le remplacement">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="m-3">
        <a href="{{ path('app_remplacement_create') }}" class="btn btn-secondary" aria-label="Créer un nouveau remplacement">Créer un nouveau remplacement</a>
    </div>

{% endblock %}
