{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Comptabilité{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3 class="m-3">Liste des remplacements en attente de paiement :</h3>

        <div class="m-3">
            <a href="{{ path('app_remplacement_create') }}" class="btn btn-outline-secondary" aria-label="Ajouter un remplacement">Ajouter un remplacement</a>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Médecin remplacé</th>
                        <th scope="col">Période</th>
                        <th scope="col">Somme rapportée</th>
                        <th scope="col">Estimation du paiement à venir</th>
                        <th scope="col">Somme perçue</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for remplacement in remplacements %}
                        <tr>
                            <td>{{ remplacement.medecin.nom }} {{ remplacement.medecin.prenom }}</td>
                            <td>Du {{ remplacement.dateDebut | date('d-m-Y') }} au {{ remplacement.dateFin | date('d-m-Y') }}</td>
                            <td>{{ remplacement.chiffreRealiseParRemplacement }}</td>
                            <td>{{ remplacement.chiffreRealiseParRemplacement * (remplacement.medecin.retrocession / 100) }}</td>
                            <td>{{ remplacement.retrocession }}</td>
                            <td>
                                <a href="{{ path('app_comptabilite_edit', {'id': remplacement.id }) }}" class="btn btn-primary" style="background-color:#2E8486; ; border-color:#2E8486" aria-label="Mettre à jour">Mettre à jour</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

